
keyframes ampliar {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@font-face{
    font-family: louis;
    src:url(assets/Louis.ttf);
}

@font-face{
    font-family: Signatie;
    src:url(assets/Signatie.ttf);
}

html {
    transition-duration: 3s;
}

@font-face{
    font-family: big;
    src:url(assets/big.ttf);
}

@font-face{
    font-family: grafiti;
    src:url(assets/Brush.ttf);
}

body {
    background-color: black;
    background-size: cover;
    width: auto;
    margin: 0;
}

.uea {
    text-decoration: line-through;
}

nav {
    position: absolute;
    position: fixed;
    top:4%;
    right: 2%;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: big;
    font-size: 22px;
    margin: 1em;
    height: 20px;
    width: auto;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
}

#portadaart {
    height: 500px;
    width: auto;
    background-image: url(img/artes/pinceles.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-content: center;
    color: whitesmoke;
    font-family: louis;
    font-size: 30;
    }

#portadarest {
    height: 500px;
    width: auto;
    background-image: url(img/restauracion/ruinas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-content: center;
    color: whitesmoke;
    font-family: louis;
    font-size: 30;
    margin-bottom: 10%;
    }

#portadadis {
    height: 500px;
    width: auto;
    background-image: url(img/design/distone.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-content: center;
    color: whitesmoke;
    font-family: louis;
    font-size: 30;
}

#contenido {
    display: grid;
    display: flex;
    grid-gap: 5%;
    margin-bottom: 10%;
    margin-top: 10%;
}

#frase {
    color: white;
    padding-left: 19%;
    padding-top: 8%;
    padding-right: 5%;
    font-family: Louis;
    font-size: 18;
}

#dicho {
    font-style: italic;
}

#portfolio {
    display: grid;
    justify-items: center;
    align-items: center;
    width:auto;
}

#portfolio a {
    background-image: url(img/design/LUMINOSO.svg);
    background-repeat: no-repeat;
    text-decoration: none;
    color:white;
    font-family: big;
    font-size: 27;
    height: 150px;
    width: 400px;
    display: grid;
    align-items: center;
    justify-items: center;
}

#portfolio img {
    width: 600px;
    height: 300px;
}

#portfolio a:hover {
   filter: drop-shadow(16px 16px 20px red);
   font-size: 35; 
}

/*Galeria*/
#contenedor {
    display: grid;
    justify-items: center;
    width: auto;
}

#abierto img {
    height: 500px;
    display: none;
    transition: all 0.5s;
    animation: ampliar;
    
}

.galeria {
    display: flex;
    margin: 5% 25% 10% 25%;
    align-self: center;
    overflow: auto;
    width: auto;
}

.galeria img{
    height: 200px;
    width: 80px;
    opacity: 0.4;
}

.galeria img:hover {
    opacity: 100;
    transform:scale(130%);
}

.galeria::-webkit-scrollbar {
    -webkit-appearance: none;
}

.galeria::-webkit-scrollbar:vertical {
    background-color: #000;
}

.galeria::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.galeria::-webkit-scrollbar:horizontal {
    height: 5px;
}

.galeria::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 0.5px solid dimgrey;
    border-radius: 20px;
}


/*Galería*/


#footer {
    display: grid;
    color: black;
    width: auto;
    grid-template-columns: auto auto auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: rgba(255,4,5,0.2);
}

#Servicios {
    display: grid; 
    justify-items: center;
    font-family: Louis;
    color: whitesmoke;
    font-size: 20px;
    width: 100%;
}


#Contactar { 
    display: grid;
    justify-items: center;
    align-items: center;
}

#herramientas {
    display: grid;
    justify-items: center;
    align-items: center;
}

#redes {
    color: lightgrey;
    font-family: Louis;
    font-size: 20;
    font-weight: bold;
    display: grid;
    justify-items: center;
    align-items: center;
}

#redes a {
    display: grid;
    display: flex;
    grid-template-columns: 20px;
    justify-content: center;
}

#redes img {
    display:flex;
}

#logos {
    display: grid;
    display: flex;
    grid-template-columns: 20px 20px 20px;
    grid-gap: 2%;
    justify-content: center;
    margin-top: 2%;
}

#logos a{
    margin: 6%;
    transform: 30px;
}

#boton {
    padding-top: 10%;
    display: grid;
    display: flex;
    justify-content: center;
}

#boton a {
    align-items: center;
    background-color: #be1704;
    width: 200px;
    height: 40px;
    border-radius: 0.5em;
    font-size: 18;
    text-decoration: none;
    color: white;
 }

#boton:hover { 
    transform: scale(120%);
    color: black;
    opacity: 70%;
}

#titulopag {
    font-size: 40;
    padding-left: 10%;
    padding-top: 5%;
    font-weight: bold;
}

.imagen {
  flex:100%;
  object-fit:cover;
  margin:1%;
}

 
@media only screen and (max-width: 600px) {
 .galeria {
     width: 300px;
     }
}
@media only screen and (max-width: 600px) {
 #contenido {
     width: auto;
     display: grid;
     }
}

@media only screen and (max-width: 600px) {
 #portfolio a{
    transform: scale(60%);
    }
 




    
